@media (max-width: 1021px) {
    .proof__cards{
        flex-wrap: wrap;
    }
    .proof__card{
        margin: 0 auto;
    }
}
@media (max-width: 1000px) {
    .header__hero-foot-gallery{
        flex-wrap: wrap;
    }
    .features-hero{
         flex-direction: column;
    }
    .features__right{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .register__card{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 96px 20px;
    }
}

@media (max-width: 966px) {
    .header__hero-left-bottom-head{
        flex-direction: column;
    }
    .header__hero-left-bottom-head button{
        max-width: 220px;
        width: 100%;
    }
}
@media (max-width: 930px) {
    .header__navbar-center{
        gap: 25px;
    }
}
@media (max-width: 900px) {
    .blog__hero{
        flex-direction: column;   
    }
    .blog__left{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .blog__right{
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }
    .come__left{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .come__hero{
        flex-direction: column;
        gap: 40px;
    }
}
@media (max-width: 870px) {
    .footer__bottom{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}
@media (max-width: 830px) {
    .header__navbar-center{
        position: fixed;
        left: 0%;
        top: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #1e313ba8;
        backdrop-filter: blur(10px);
    }
    .header__navbar-link{
        color: white;
        font-size: 36px;
    }
    .header__navbar-center{
        gap: 70px;
    }
    .close-navbar{
        display: block;
        position: fixed;
        top: 25px;
        right: 25px;
    }
    .open-navbar i{
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 800px) {
    .header__hero-head{
        flex-direction: column;
        gap: 150px;
    }
    .header__hero-left{
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    .header__hero-left-bottom-head input{
        max-width: 400px;
        width: 100%;
    }
    .start__hero{
        flex-direction: column;
        gap: 100px;
    }
    .start__right{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .pricing__hero{
        flex-direction: column;
    }
    .pricing__left{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .pricing__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 770px) {
    .footer__top{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}
@media (max-width: 690px) {
    .proof__title{
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        margin: 0 auto;
    }
    .proof__title button{
        max-width: 220px;
        width: 100%;
    }
}
@media (max-width: 580px) {
    .register__card-right-top{
        flex-direction: column;
    }
    .register__card-right-top button{
        max-width: 240px;
        width: 100%;
    }
    .register__card-right-top input{
        max-width: 300px;
        width: 100%;
    }
    .register__card-right-bottom{
        gap: 15px;
        flex-direction: column;
    }
}
@media (max-width: 521px) {
    .features__right-foot{
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .features__right-foot-item-1{
        max-width: 320px;
    }
}
@media (max-width: 485px) {
    .footer__top-item-2{
        flex-direction: column;
    }
    .footer__top-item-2 a{
        font-size: 20px;
    }
    .footer__bottom-right{
        flex-direction: column;
    }
    .footer__bottom-right a{
        font-size: 20px;
    }
    .footer__bottom-left p{
        text-align: center;
    }
}
@media (max-width: 450px) {
    .header__navbar-right{
        flex-direction: column;
        gap: 5px;
        flex-grow: -1;
    }
}